@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #1E2022;
    --secondary-color: #52616B;
    --third-color: #C9D6DF;
    --text-color: #F0F5F9;
    --transparent-bg: rgba(30 32 34/0.8);
    --hover-color: radial-gradient(circle, #000000, #2e282d, #504d5d, #697a91, #7aabc1, #72b0bc, #71b3b3, #78b6a7, #5f8c77, #47644d, #2e3e28, #171c04);
    --small-spacing: 0.5rem;
    --medium-spacing: 1rem;
    --huge-spacing: 2rem;
    --height-card: 300px;
    --width-card: 300px;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin:0;
    font-family: 'Poppins', sans-serif; 
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 3px;
    border-radius: 5px;
    color: var(--text-color);
}

button:hover{
    background-color: var(--hover-color);
}

button::after{
    background-color: whitesmoke;
}

/* Start of scrollbar designing */
body::-webkit-scrollbar {
    /* width of scroll-bar */
    width: 0.6rem;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(70deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
/* End of scrollbar designing */

body{
    /* for smoot scroll behavior */
    scroll-behavior: smooth;

    color: var(--text-color);
    background-color: var(--primary-color);
    position: relative;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
}

.overflow-title{
    height: 1.4em;
    width: 100%;
    padding: 0% 4%;
    overflow: hidden;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-bottom: 2%;
}

input {
    border: none;
}

#format-options button:hover, #format-options-View button:hover{
    color: var(--primary-color);
    background-color: var(--text-color);
}

.overflow-desc{
    height: calc(4*(1.6em));
    width: 100%;
    padding: 0% 4%;
    overflow: hidden;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    font-weight: 400;
}

#header h1{
    font-size: 2rem;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--secondary-color);
    padding: 2%;
}

.card{
    height: var(--height-card);
    width: var(--width-card);
    background-color: var(--secondary-color);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.desc-box{
    background-color: white;
    color: black;
    width: 100%;
    height: 40%;
    max-height: 410px;
    overflow-y: auto;
}

.desc-box:active{
    border: 1px solid black;
}

.new-card, .add-card{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

footer p a:hover{
    color: var(--hover-color);
}

footer p a{
    color: var(--third-color);
}

footer{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 1%;
}

#add-new{
    width: 50px;
    height: 50px;
    background-color: var(--third-color);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    font-size: 30px;
    align-items: center;
}

#live-code{
    width: 150px;
    height: 30px;
    background-color: var(--third-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: var(--primary-color);
    align-items: center;
    margin-top: 2px;
}

#live-code:hover{
    width: 150px;
    height: 30px;
    background-color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: var(--primary-color);
    align-items: center;
    margin-top: 2px;
}

#add-new:hover{
    background-color: var(--primary-color);
    color: var(--third-color);
}

#add-new:focus{
    outline: none;
}

main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.added-notes{
    height: var(--height-card);
    width: var(--width-card);
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notes-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--small-spacing);
    margin: 30px;
    margin-left: 50px;
    justify-content: center;
    justify-items: stretch;
    
}

.add-card, .view-card{
    background-color: var(--transparent-bg);
    color: var(--text-color);
    border-radius: 8px;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
}

.add-card label{
    margin-top: 20px;
}

.close-window-popup-add{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    border: none;
    background-color: transparent;
    color: var(--third-color);
    padding: 20px;
    margin: 20px;
}

.close-window-popup-add:hover{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 20px;
    margin: 20px;
}

.popup-container, .popup-update{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 50%;
    height: 500px;
    background-color: var(--secondary-color);
    padding: 35px;
    border-radius: 20px;
}

.add-card .add-btn, button#update-btn{
    border: none;
    background-color: var(--text-color);
    border-radius: 17px;
    padding: 10px;
    border: 1px solid black;
    color: var(--primary-color);
}

.add-card .add-btn:hover, button#update-btn:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.add-card textarea{
    max-width: 100%;
    max-height: 30%;
    min-width: 100%;
    min-height: 30%;
}

.new-card{
    height: 200px;
    width: 95%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 3%;
}

.new-card {
    
    border: none;
    outline: none;
    color: var(--secondary-color);
    background: var(--third-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    transition: ease-out 0.3s;
}

.new-card:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}


.new-card:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}



.new-card:active {
    color: #000
}

/* .new-card:active:after {
    background: transparent;
} */

.new-card:hover:before {
    opacity: 1;
    
}

.new-card:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--third-color);
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Popup update */

/* .view-card{
    background-color: var(--transparent-bg);
    color: var(--text-color);
    border-radius: 8px;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
} */

.view-card label{
    margin-top: 20px;
}

.popup-edit-close-btn{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 20px;
    margin: 20px;
}

/* .popup-update{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 50%;
    height: 500px;
    background-color: var(--third-color);
    padding: 35px;
    border-radius: 20px;
} */

/* .view-card #update-btn{
    border: none;
    background-color: brown;
    border-radius: 17px;
    padding: 10px;
    border: 1px solid black;
    color: var(--text-color); */
/* } */

.view-card #update-btn:hover{
    background-color:rgb(181, 72, 18);
}

.view-card textarea{
    max-width: 100%;
    max-height: 30%;
    min-width: 100%;
    min-height: 30%;
}

.popup-edit-close-btn:hover{

    background-color: transparent;
    color: var(--third-color);
}


/* media queries */

@media (width > 570px) {
    #notes-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: var(--small-spacing);
        margin: 30px;
        margin-left: 50px;
        justify-content: center;
        justify-items: stretch;
        
    }
}

@media (width > 867px) {
    #notes-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        gap: var(--small-spacing);
        margin: 30px;
        margin-left: 50px;
        justify-content: center;
        justify-items: stretch;
        
    }
}

@media (width <480px) {
    .popup-container{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        width: 90%;
        height: 78%;
        padding: 25px;
        border-radius: 20px;
    }

    .close-window-popup-add{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 50px;
        padding: 10px;
        cursor: pointer;
        z-index: 3;
        border: none;
        padding: 20px;
        margin: 20px;
        margin-top: 70px;
    }

    .popup-edit-close-btn{
        position: fixed;
        top: 0;
        right: 0;
        font-size: 50px;
        padding: 10px;
        cursor: pointer;
        z-index: 3;
        border: none;
        padding: 20px;
        margin: 20px;
        margin-top: 70px;
    }
    .close-window-popup-add:hover{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 50px;
        padding: 10px;
        cursor: pointer;
        z-index: 3;
        border: none;
        padding: 20px;
        margin: 20px;
        margin-top: 50px;
    }
    .popup-edit-close-btn:hover{
        position: fixed;
        top: 0;
        right: 0;
        font-size: 50px;
        padding: 10px;
        cursor: pointer;
        z-index: 3;
        border: none;
        padding: 20px;
        margin: 20px;
        margin-top: 50px;
    }

    .popup-update{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        width: 90%;
        height: 78%;
        padding: 25px;
        border-radius: 20px;
    }

}



